body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* NAVBAR */
.navbar {
  padding: 0;
  margin: 0;
  background-color: rgb(187, 190, 2);
}

.links {
  background-color: rgb(187, 190, 2);
}

.navbar-brand {
  font-size: 1.5em; 
  color: white; 
}
 
.navbar .d-flex {
  flex: 1;
  justify-content: center;
  padding-top: 15px;
}

.navbar .form-control {
  border: 3px solid red; 
  border-radius: 2rem; 
}

.navbar .btn {
  border: 2px solid yellow; 
  color: black; 
}

.fa-solid {
  margin-right: 5px; 
}

.btn-outline-success {
  background-color: yellow; 
  color: black; 
  border-color: black;
}

.btn-outline-success:hover {
  background-color: yellow; 
  color: black; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    line-height: 1.6;
    /* padding: 20px; */
  }

  h1 {
    color: #333;
    font-size: 2.5em; 
    margin: 0.67em 0;
    text-align: center;
    margin-bottom: 0.67em;
  }

  .content {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }

  .content p {
    color: #333;
    margin-bottom: 1em;
    text-align: center;
  }

  .container-1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background: #E05A47;
    padding: 20px;
    color: white;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero h2 {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero p {
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: white;
    color: #E05A47;
    text-decoration: none;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    flex-basis: calc(33.333% - 20px);
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    color: #333;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    padding-top: 5rem;
    margin: 20px;
}

.text-section {
    flex-basis: 60%; 
    padding-right: 2.5rem; 
    text-align: center;
    font-size: 15px;
}

.image-section {
    flex-basis: 40%; 
    text-align: right; 
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin-left: 2.5rem;
    padding-left: 2.5rem;
}

.container-3 {
    display: flex;
  }

  .box {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    background-color: #f0f0f0;
  }

  .line {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  .line:first-child {
    transform: rotate(45deg) translateY(-50%);
  }

  .line:last-child {
    transform: rotate(-45deg) translateY(-50%);
  }

  /*  */

  .header {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;
  }
  .header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  .header p {
    font-size: 1.1em;
    color: #666;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .card1 {
    width: calc(30% - 20px); /* Subtract the total margin from the width */
    margin: 0 10px; /* Add margin to the left and right of each card */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  .card1 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card1 a {
    text-decoration: none;
    color: black;
  }
  
  .category {
    color: #777;
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 0;
  }
  .card-title {
    margin: 10px 0;
    color: #333;
  }
  .location {
    font-size: 0.9em;
    color: #666;
  }

  /*  */

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .footer-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-item {
    margin-bottom: 5px;
    color: #aaa;
    text-decoration: none;
  }

  .footer-item:hover {
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    margin-right: 10px;
  }

  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .social-icons li {
    margin-right: 10px;
  }

  .social-icons a {
    color: #aaa;
    text-decoration: none;
  }

  .social-icons a:hover {
    color: #fff;
  }

  .find-accommodation {
    background-color: #006400;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .find-accommodation a{
    text-decoration: none;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .footer {
      justify-content: center;
      text-align: center;
    }

    .footer-column {
      margin-bottom: 20px;
    }
  }

  .container-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .image-box {
    width: 50%;
    padding: 20px;
  }
  
  .text-box {
    width: 50%;
    padding: 20px;
  }
  
  .container-4 h1, h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  .container-4 p {
    line-height: 1.6;
  }

  .gmaps {
    padding: 5rem;
  }

  .gmaps img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .gmaps h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .text-blocks article {
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
  }
  
  .card-content {
    padding: 20px;
  }

  .card-content p {
    text-align: left;
  }