{% extends 'base.html' %}

{% block navigation %}
    {% include 'includes/' + lang_code + '/navbar.html' %}
{% endblock %}

{% block main %}
<div class="contact-container">
    <h1>{{_('Contact Us')}}</h1>
    <form action="submit-form" method="POST">
      <label for="name">{{_('Name')}}:</label>
      <input type="text" id="name" name="name" required>
  
      <label for="email">{{_('Email')}}:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="message">{{_('Message')}}</label>
      <textarea id="message" name="message" required></textarea>
  
      <button type="submit">{{_('Send Message')}}</button>
    </form>
  </div>

{% endblock %}