{% extends 'base.html' %}

{% block navigation %}
    {% include 'includes/' + lang_code + '/navbar.html' %}  
{% endblock %}

{% block main %}

<h1>Itinerary</h1>

<div class="container-4">
    <div class="image-box">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" class="d-block w-100" alt="Image 3">
    </div>
    <div class="text-box"> 
      <h2>What Can You Do In Ireland?</h2>
      <p>
        {{_('Embark on a timeless journey through Ireland\'s Ancient East, a treasured land woven with legendary tales, historic footsteps, and landscapes that hold the whispers of centuries.
        From the lush valleys of the Wicklow Mountains to the storied stones of Kilkenny Castle, each bend in the road leads to new adventures steeped in the myths and sagas that are the heart of Ireland\'s heritage.
        <br>
        Your itinerary unfolds like a well-worn map to the past, guiding you to mystical sites like the Brú na Bóinne, where ancient tombs predate the pyramids of Egypt, and to vibrant towns where the past is as palpable as the stones underfoot.
        Whether you\'re exploring the serene beauty of Glendalough or the hallowed halls of storied monasteries, Ireland\'s Ancient East promises a tapestry of experiences that intertwine the natural beauty with the indelible mark of history.
        <br>
        Here, where every path has a story, your journey will be more than a passage through landmarks; it will be an immersive dive into a world where legends live and breathe.
        Welcome to Ireland\'s Ancient East, where history awaits at every turn. <h4>Scroll Down for More</h4>')}}
      </p>
    </div>
  </div>

  <div class="gmaps">
    <h2>{{_('Map of Ireland')}}</h2>
    <a href="https://www.google.com/maps/@53.2941416,-6.4111592,14z?entry=ttu"><img src="{{ url_for('static', filename='assets/img/' + lang_code +'/gmaps.png') }}" alt="Google Maps"></a>
  </div>

  <!-- Text Blocks Layout -->
<section class="text-blocks">
    <article>
      <h2>{{_('Places and Events')}}</h2>
      <p>
        {{_('Ireland\'s Ancient East is a region of profound historical and cultural significance, offering a range of attractions that showcase Ireland\'s heritage, from ancient times to modern day. Some of the must-visit places include:')}}
    </p>
    </article>
  </section>
  
  <!-- Image Cards Layout -->
  <section class="image-cards">
    <div class="card">
      <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
      <div class="card-content">
        <h3>Brehon Brewhouse</h3>
        <p><i class="fa-solid fa-location-dot"></i> Inniskeen, Co. Monaghan</p>
        <p>
            Brehon Brewhouse offers an engaging experience for those interested in craft beer and Irish history. Located in County Monaghan, the brewhouse sits among the rolling landscapes near Inniskeen, just a few miles from the birthplace of the famed Irish poet Patrick Kavanagh. The brewhouse itself is a venture by dairy farmer Seamus McMahon, who began the brewery on his family farm, blending the tradition of brewing with his family's history in dairy farming.
            <br><br>
            <i class="fa-solid fa-car"></i> To get there, it's best to have your own transportation as the brewhouse is located off the beaten path, in the countryside. Tours are usually available on Saturdays, and for larger groups, arrangements can be made for other days. Given its location, the approach is likely to involve smaller country roads typical of rural Ireland. You can contact the brewhouse directly to inquire about the best routes and any transportation advice they might have for your visit.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i> When it comes to safety, like any visitor attraction, it's advisable to follow any safety guidelines provided by the brewhouse during the tour, especially when viewing the brewing equipment. In terms of health safety, while specific details on health and safety protocols aren't provided in the sources, establishments like Brehon Brewhouse typically adhere to the standard food and beverage industry regulations to ensure visitor safety.
            <br><br>
            For more information and to plan your visit, you can reach out to Brehon Brewhouse at +353 86 823 0914 or visit their official website (<a href="https://brehonbrewhouse.ie/">Here</a>)
        </p>
      </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
        <div class="card-content">
          <h3>Waterford Estuary Coastal Path – Dunmore East to Ballymacaw</h3>
          <p><i class="fa-solid fa-location-dot"></i> Dunmore East, Co. Waterford</p>
          <p>
            The Waterford Estuary Coastal Path stretches from Dunmore East to Ballymacaw Cove and is a linear walk that promises stunning views and a chance to explore the natural beauty of the Waterford coast. The route is moderately challenging and includes steps, stiles, footbridges, and stream crossings. It is approximately 7 kilometers long and offers an immersive experience with sights of rugged cliffs and the opportunity to observe local wildlife such as birds and possibly seals.
            <br><br>
            <i class="fa-solid fa-car"></i> To reach the Waterford Estuary Coastal Path, which starts at Dunmore East Harbour Car Park, you can drive there directly and park at the designated car park. If you're using public transport, buses serve Waterford City, from where you can catch a local bus or taxi to Dunmore East. It’s recommended to check the latest schedules and routes with local transport services before you travel.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i> For a safe visit to the Waterford Estuary Coastal Path from Dunmore East to Ballymacaw, ensure you have suitable walking shoes and weather-appropriate clothing. Stay on marked trails, keep dogs on a leash, and park responsibly at the designated area in Dunmore East. Check local weather conditions before your walk and avoid the trail during adverse weather. Always follow the Leave No Trace principles to protect the coastal environment​.
            <br><br>
            Click <a href="https://www.discoverireland.ie/waterford/waterford-estuary-coastal-path-dunmore-east-to-ballymacaw">Here</a> for more information
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
        <div class="card-content">
          <h3>Powerscourt House & Gardens</h3>
          <p><i class="fa-solid fa-location-dot"></i> Enniskerry, Co. Wicklow</p>
          <p>
            Powerscourt House & Gardens is a renowned historical estate located in County Wicklow, Ireland, known for its exquisite 18th-century gardens and Palladian architecture. The estate covers approximately 47 acres and includes beautifully landscaped gardens, sweeping terraces, ornamental lakes, and over 200 varieties of trees and shrubs.
            <br><br>
            <i class="fa-solid fa-car"></i> Powerscourt is situated in Enniskerry, County Wicklow, about 20 kilometers south of Dublin. It can be reached by car via the M11 motorway which leads to the N11 towards Wicklow, then taking the exit for Enniskerry and following the signs to Powerscourt Estate. Public transportation options include buses from Dublin city center which can drop visitors nearby, and then a short taxi ride can be taken to the estate.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i> When visiting Powerscourt House & Gardens, it's important to prepare for varying weather conditions by wearing suitable outdoor clothing and footwear. Visitors with children should be vigilant, especially near water features and steep areas. While many parts of the gardens are accessible, those with mobility issues may find certain areas challenging, so checking accessible routes before your visit is advised. Pets are permitted in designated areas but must be kept on a leash at all times to ensure safety and respect for all guests.
            <br><br>
            For more information about Powerscourt House & Gardens, including details about ticket prices, opening hours, special events, and more, you can visit their official website. Additionally, you may contact them directly via phone or email for any specific inquiries or to arrange group visits. <a href="https://powerscourt.com/">Here</a>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
        <div class="card-content">
          <h3>Hysterical Histories Cork - Dinner Theatre Experience</h3>
          <p><i class="fa-solid fa-location-dot"></i> Cork City, Co. Cork</p>
          <p>
            Hysterical Histories Cork - Dinner Theatre Experience offers a unique and engaging way to explore Cork's rich history through a blend of dining and entertainment. This comedic dinner theater is set in the Amicus Restaurant, located in Cork’s historic Huguenot Quarter, where you'll be treated to a lively and entertaining performance by professional actors. The show dives into 1500 years of Cork's history, featuring quirky characters, local humor, and interactive storytelling, all accompanied by live music.
            <br><br>
            <i class="fa-solid fa-car"></i> The venue is centrally located at An Spailpin Fanach on South Main Street, making it easily accessible. For those driving, nearby parking is available at Q-park Grande Parade or South Main Street exits. The nearest bus and taxi stops are also at Grande Parade, which is convenient for those using public transportation​.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i>While the venue offers a fantastic experience, it's important to note that it is not wheelchair accessible due to the historic nature of the building. This may be a consideration for those with mobility issues. Additionally, due to licensing laws, children under the age of 18 need to vacate the pub at the end of the show.
            <br><br>
            For more detailed information, including booking and specific show times, visiting the official Hysterical Histories website or the venue's page could provide additional insights and help in planning your visit. (<a href="https://www.hystericalhistories.ie/">Here</a>)
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
        <div class="card-content">
          <h3>Exhibition: Dundalk Photographic Society 2024</h3>
          <p><i class="fa-solid fa-location-dot"></i> Dundalk, Co. Louth</p>
          <p>
            The Exhibition: Dundalk Photographic Society 2024 will be held from April 23 to May 4, 2024, at An Táin Arts Centre in Dundalk, County Louth. Celebrating its 45th year since its founding, the exhibition showcases the recent works of its members, highlighting both the domestic and international successes of the club. The opening launch of the exhibition is scheduled for April 20, 2024, at 7 PM.
            <br><br>           
            <i class="fa-solid fa-car"></i> For transportation to An Táin Arts Centre in Dundalk, visitors can utilize public buses that serve the area, as it is centrally located within the town. For those driving, there are parking facilities nearby, making it convenient to access the venue. Additionally, the Dundalk train station is not far from the centre, offering good connectivity for those coming from other parts of Ireland.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i> As for safety precautions at the Exhibition: Dundalk Photographic Society 2024, visitors are encouraged to follow general safety guidelines such as keeping personal belongings secure and adhering to the centre's guidelines regarding photography and conduct within the exhibition space. It's also advisable to check any specific COVID-19 protocols that may be in place during your visit, ensuring a safe experience for all attendees.
            <br><br>
            Click <a href="https://www.antain.ie/event/exhibition-dundalk-photographic-society-2024/">Here</a> for More Information
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/' + lang_code +'/enImg1.jpg') }}" alt="Brehon Brewhouse">
        <div class="card-content">
          <h3>By Hook or By Crooke: A Hike to the Hook Walk</h3>
          <p><i class="fa-solid fa-location-dot"></i> Duncannon, Co. Wexford</p>
          <p>
            By Hook or By Crooke: A Hike to the Hook Walk is an invigorating 22km road walk that showcases the scenic beauty of Ireland's coast. This annual event stretches from Crooke in Waterford to the historic Hook Lighthouse in Wexford. The route passes through picturesque villages including Passage East, Ballyhack, Arthurstown, and Duncannon, offering participants breathtaking views of the Waterford estuary and a rich maritime history.
            <br><br>
            <i class="fa-solid fa-car"></i> Participants typically start the walk in Crooke, which is accessible by road from Waterford city. For those traveling from Dublin or other major cities, trains and buses run regularly to Waterford. From there, local buses or taxis can be taken to Crooke. Participants often arrange for transportation back from Hook Lighthouse at the end of the walk, or they can walk back as part of smaller groups.
            <br><br>
            <i class="fa-solid fa-helmet-safety"></i> For a safe experience on the "By Hook or By Crooke: A Hike to the Hook Walk," participants should wear sturdy hiking shoes and comfortable, weather-appropriate clothing to handle the 22km trek. It's crucial to carry adequate water and snacks to maintain hydration and energy levels throughout the hike. Checking the weather forecast ahead of time will help in preparing for potential rain, requiring waterproof gear. Participants should also be mindful of their physical limits and consider opting for shorter versions of the route if needed. Sticking to marked trails is important for both safety and environmental conservation. Finally, carrying a fully charged mobile phone ensures you can communicate or seek help in case of an emergency.
            <br><br>
            Click <a href="https://hiketothehook.com/#:~:text=The%20Walk,there%20are%20many%20shorter%20options">Here</a> for More Information
          </p>
        </div>
      </div>
  </section>

{% endblock %}