body {
    background-color: whitesmoke;
}

.navbar-custom {
    background-color: #ffffff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.navbar-logo {
    color: #28a745; /* Green color for the logo */
    font-weight: bold;
}

.search-box {
    flex-grow: 1; /* Let the search box grow to fill the space */
}

.nav-icon {
    width: 24px; /* Fixed width for icons */
    height: 24px; /* Fixed height for icons */
    margin-right: 8px; /* Spacing before text */
}

.language-dropdown a.dropdown-item {
    width: max-content;
}

.search-input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
