body {
    background-color: whitesmoke;
}


/* Reset the navbar's default padding and margin */
.navbar {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa; /* Adjust the background color as needed */
  }
  
  /* Style the navbar brand/logo */
  .navbar-brand {
    font-size: 1.5em; /* Adjust the size as needed */
    color: green; /* Adjust the color as needed */
  }
   
  /* Align the search form to the center of the navbar */
  .navbar .d-flex {
    flex: 1;
    justify-content: center;
    padding-top: 15px;
  }
  
  /* Style the search input */
  .navbar .form-control {
    border: 2px solid #ccc; /* Adjust the border color and size as needed */
    border-radius: 2rem; /* Rounded corners for the input */
  }
  
  /* Style the search button */
  .navbar .btn {
    border: 2px solid #ff6c2c; /* Adjust the border color and size as needed */
    color: #ff6c2c; /* Adjust the color as needed */
  }
  
  /* Style the icons in the navbar */
  .fa-solid {
    margin-right: 5px; /* Adjust the space between icon and text */
  }
  

  .contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-container button {
    margin-top: 20px;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #4cae4c;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .contact-container {
      margin: 20px;
    }
  }

  .container-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .image-box {
    width: 50%;
    padding: 20px;
  }
  
  .text-box {
    width: 50%;
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
  }

  .gmaps img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }