body {
    background-color: whitesmoke;
}

#text {
    font-size: 50px;
}

.navbar-custom {
    background-color: rgb(191, 191, 255); /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Slight shadow for depth */
    border-radius: 100px;
}

.navbar-logo {
    color: #28a745; /* Green color for the logo */
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding-left: 20%;
}

.navbar.navbar-logo :hover {
    text-decoration: none;
}

.search-box {
    flex-grow: 1; /* Let the search box grow to fill the space */
}

.nav-icon {
    width: 24px; /* Fixed width for icons */
    height: 24px; /* Fixed height for icons */
    margin-right: 8px; /* Spacing before text */
}

.language-dropdown a.dropdown-item {
    width: max-content;
}

.search-input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

/* Container for the search bar and links */
.search-and-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 30%;
}

/* Style for the search box */
.search-box {
    width: 80%; /* Full width */
    margin-bottom: 10px; /* Space below the search box */
    padding-top: 35px;
}

/* Style for the navbar links */
.navbar-links {
    text-decoration: none;
    padding-right: 15%;
    font-size: 20px;
    font-weight: bold;
}

.navbar-links .nav-link {
    margin: 0 15px; /* Spacing between the links */
    color: #333; /* Link color, change as needed */
    text-decoration: none; /* No underline */
}

.navbar-links .nav-link:hover {
    text-decoration: solid; /* Underline on hover, optional */
}

/* Style for the language select at the top right */
.language-select {
    position: absolute;
    right: 25%;
    z-index: 1000; /* To make sure it's above other elements */
}

.custom-dropdown {
    aspect-ratio: 1/1;
}



